<div class="row">		
	<ul class="nav nav-tabs nav-justified" >
		 <li><a href="#!/type/Blonde">Blonde</a></li>
		 <li><a href="#!/type/Brune">Brunes</a></li>
		 <li><a href="#!/type/Ambree">Ambrées</a></li>
		 <li><a href="#!/type/Blanche">Blanches</a></li>
		 <li><a href="#!/type/Noire">Noires</a></li>
	</ul>
</div>
<div data-ng-show="$ctrl.user != undefined && $ctrl.user.isAdmin" class="row">
	<ul class="nav nav-tabs nav-justified" >
		<li><a href="#!/catalogue">Gérer les produits</a></li>
		<li><a href="#!/creationproduit">Créer un produit</a></li>
		<li><a href="#!/historique">Liste des commandes</a></li>
	</ul>
</div>