<nav class="menu navbar navbar-dark container-fluid">
	<div class="navbar-header menu col-lg-2">
		<a id="textMenu" href="#">Nomdusite</a>
	</div>
	<div class="col-lg-8">
		<div class="input-group">
			<input type="text" class="form-control"> <span
				class="input-group-btn"><a class="btn btn-default glyphicon glyphicon-search" type="button"></a></span>
		</div>
	</div>
	<div class="col-lg-1">
		<ul class="nav nav-pills nav-stacked">
			<li class="dropdown">
			<li><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dropDownMenu">Mon compte <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Mes commandes</a></li>
						<li><a href="#">Mes commandes</a></li>
						<li><a href="#">Deconnexion</a></li>
					</ul></li>
		</ul>
	</div>
	<div class="col-lg-1">
		<a id="textMenu" class="glyphicon glyphicon-shopping-cart btn-lg" href="#"></a>
	</div>
</nav>