
<form class="form-group">
	<div class="form-group">
		<label for="inputMark">Type de bière: </label> 
		<select	class="form-control form-control-sm" ng-model="product.type">
			<option selected="selected" value="{{product.type}}" >{{product.type}}</option>
			<option>Blonde</option>
			<option>Brune</option>
			<option>Ambrées</option>
			<option>Blanche</option>
		</select> 
		<label for="inputMark">Type de contenant: </label> 
		<select	class="form-control form-control-sm" ng-model="product.container" >
			<option selected="selected" value="{{product.container}}">{{product.container}}</option>
			<option>Bouteille</option>
			<option>Can</option>
			<option>Fût</option>
		</select> 
		<label for="inputName">Nom de la bière: </label> 
		<input type="text"	class="form-control" placeholder="Nom de la bière" value="{{product.productName}}" ng-model="product.productName"> 
			<label for="inputVolume">Volume:</label> 
			<input type="number" step="any" class="form-control" placeholder="Volume" value="{{product.clVolume}}" ng-model="product.clVolume"> 
			<label	for="inputWeight">Poids: </label> 
			<input type="number" step="any" class="form-control" placeholder="Poids de la bière" value="{{product.gWeight}}" ng-model="product.gWeight">
			<label for="inputAlcool">Taux	d'alcool: </label> 
			<small id="emailHelp" class="form-text text-muted">En pourcentage.</small>
		<input type="number" step="any" class="form-control" placeholder="Taux d'alcool"  ng-model="product.alcoholPercentage">

		<label for="inputDescription">Description: </label> 
		<input	type="textarea" class="form-control" placeholder="Description"	ng-model="product.description">
		<label for="inputDescription">Stock: </label> 
		<input	type="number" class="form-control" placeholder="Description"	ng-model="product.stock">  
		<label for="inputFile">Image:</label>
		<input type="text" class="form-control"	ng-model="product.pathpicture">
		<input type="file"	class="form-control" ng-model="product.pathpicture"> 
		<br>

		<button type="submit" ng-click="edit()" class="btn btn-primary">Valider</button>
	</div>
</form>