<footer>	
	<h4 class="text-center">Contactez notre service client</h4>
	<h5 class="text-center">Par e-mail: <a href="mailto:#">service-client@entreprise.net</a></h5>
	<h5 class="text-center">Par téléphone: 0519156165</h5>
	<h6 class="text-center">Du lundi au vendredi de 8h à 20h et le samedi de 9h à 20h</h6>
	<h3 class="text-center">L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTE. A CONSOMMER AVEC MODÉRATION.</h3>
	<h4 style = "text-align: right">© Chope ta bière - Tous droits réservés.</h4>
</footer>