<div>
	<div class="row col-md-10">
		<h1 class="text-center"><span ng-bind="product.productName"></span></h1>
			<div class="col-md-5">
				<img class="img-responsive center-block" src="{{product.pathPicture}}" alt="Second Slide">
			</div>
			<div class="col-md-5">
				<p>
					<span ng-bind="product.description"></span>
				</p>
				<h2>Détails du produit</h1>
				<p><strong>Nom du produit</strong>: <span ng-bind="product.productName"></span></p>
				<p><strong>Type de bière</strong>: <span ng-bind="product.type"></span></p>
				<p><strong>Taux d'alcool</strong>: <span ng-bind="product.alcoholPercentage"></span>%</p>
				<p><strong>Volume</strong>: <span ng-bind="product.clVolume"></span>cl</p>
				<p><strong>Poids net en g</strong>: <span ng-bind="product.gWeight"></span></p>
			</div>
		</div>
	</div>
	<ajout-panier product="product" quantity="quantity" mini="mini" user="user"></ajout-panier>
</div>