<h1>Créer un compte client</h1>
<form>		  
    <label for="nom">Nom: </label>
    <input type="text" id="nom" ng-model="user.lastname" class="form-control" placeholder="Nom">
    
    <label for="prenom">Prénom: </label>
    <input type="text" id="prenom" ng-model="user.firstname" class="form-control" placeholder="Prénom">
    
    <label for="email">E-mail (pour se connecter): </label>
    <input type="email" id="email" ng-model="user.email" class="form-control" placeholder="E-mail">
    
    <label for="password">Mot de passe: </label>
    <input type="password" id="password" ng-model="user.password" class="form-control" placeholder="Mot de passe">
    
    <label for="passwordRepaet">Mot de passe à nouveau: </label>
    <input type="password" id="passwordRepaet" ng-model="user.password" class="form-control" placeholder="Mot de passe">
    
    <label for="adresse">Adresse: </label>
    <input type="text" id="adresse" ng-model="user.adress" class="form-control" placeholder="Adresse">	
    
<!--     <label for="codePostal">Code Postal: </label> -->
<!--     <input type="text" id="codePostal" class="form-control" placeholder="Code Postal"> -->
    
    <label for="telephone">Téléphone: </label>
    <input type="text" id="telephone" ng-model="user.phone" class="form-control" placeholder="Téléphone">	 
    
    <label for="dateNaissance">Date de naissance: </label>
    <input type="date" id="dateNaissance" ng-model="user.birthdate" class="form-control" placeholder="Date de naissance">
 
  	<button type="submit" ng-click="create(user)" class="btn btn-primary">Valider</button>
</form>