<meta charset="UTF-8">
<div class="row">
	<div class="row col-md-10">
		<h1>Votre panier</h1>

		<div class="row">
			<span class="col-md-2 col-md-offset-5">Prix</span>
			<span class="col-md-2">Quantité</span>
		</div>
		<div class="row" data-ng-repeat="item in basket">
			<div class="col-md-5" >
				<span>{{item.products.productName}}</span>
			</div>
			<div class="col-md-2"><span class="prix">{{item.products.price | number:2}} &euro;</span></div>
			<div class="col-md-2"><span>{{item.quantity}}</span></div>
			<div class="col-md-2"><span><button class="btn btn-default" data-ng-click="removeFromBasket(item.products.id)">Supprimer</button></span></div>
		</div>
		<br>
	</div>
	<div class="row col-md-2">
		<br>
		<span>Sous-total : <span ng-if="totalQuantity !== undefined">{{totalQuantity}}</span><span ng-if="totalQuantity == undefined">0</span> article(s)</span>
		<br>
		<span ng-if="totalPrice !== undefined">{{totalPrice | number:2}}&euro;</span><span ng-if="totalPrice == undefined">0 &euro;</span>
		<br>
		<button class="btn btn-default" data-ng-click="createOrder()">Passer la commande</button>
	</div>
</div>
<br>