<nav class="menu navbar navbar-dark ">
	<div class="navbar-header menu col-md-2">
		<a id="" class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span> Accueil</a>
	</div>
	<div class="col-md-7 navbar-brand">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="name" placeholder="Ex : Kwak, Leffe, ...">
			<span class="input-group-btn">
				<a href="#!/search/{{name}}" class="btn btn-default glyphicon glyphicon-search"></a>
			</span>
		</div>
	</div>
	<div class="col-md-2 navbar-brand">
		<ul class="nav nav-pills nav-stacked">
			<li>
				<div data-uib-dropdown>
					<a class="btn btn-primary " data-toggle="dropdown" id="dropDownMenu" data-uib-dropdown-toggle>
					<span data-ng-show="$ctrl.user != undefined" >Mon Compte</span>
					<span data-ng-show="$ctrl.user == undefined" >Options</span>
					<span class="caret"></span></a>
					<ul data-uib-dropdown-menu>
						<li ><a data-ng-show="$ctrl.user != undefined" href="#!/modificationcompte">Mon profil</a></li><!-- Lien pour le profil à ajouter -->
						<li><a data-ng-show="$ctrl.user != undefined" href="#!/historique">Historique</a></li>
						<li ><a href="#!/panier">Mon panier</a></li><!-- Lien du panier -->
						<li data-ng-show="$ctrl.user != undefined && $ctrl.user.isAdmin" class="divider"></li>
						<li ><a data-ng-show="$ctrl.user != undefined && $ctrl.user.isAdmin" href="#!/catalogue">Administration</a></li>
						<li class="divider"></li>
						<li><a data-ng-show="$ctrl.user != undefined" href="#!/accueil" data-ng-click="$ctrl.logout()">Deconnexion</a></li>
						<li><a data-ng-show="$ctrl.user == undefined" href="#!/connection" >Connexion</a></li>
						<li><a data-ng-show="$ctrl.user == undefined" href="#!/inscription" >Inscription</a></li>
						
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-md-1">
		<a id="" class="navbar-brand glyphicon glyphicon-shopping-cart btn-lg" href="#!/panier"></a>
	</div>
</nav>


