<meta charset="UTF-8">
<h1>Créer un compte client</h1>
<form name="form" novalidate>		  
    <label for="nom">Nom: </label>
    <input type="text" id="nom" ng-model="user.lastname" class="form-control" placeholder="Nom" required/>
    
    <label for="prenom">Prénom: </label>
    <input type="text" id="prenom" ng-model="user.firstname" class="form-control" placeholder="Prénom" required/>
    
    <label for="email">E-mail (pour se connecter): </label>
    <input type="email" id="email" ng-model="user.email" name="uEmail" class="form-control" placeholder="E-mail" required/>
    
    <div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">
		Non-valide:
		<span ng-show="form.uEmail.$error.required">Dites-nous votre e-mail.</span>
		<span ng-show="form.uEmail.$error.email">Ce n'est pas une e-mail valide.</span>
	</div>
    
    <label for="password">Mot de passe: </label>
    <input type="password" id="password" ng-model="user.password" class="form-control" placeholder="Mot de passe" required/>

    <label for="passwordRepaet">Mot de passe à  nouveau: </label>
    <input type="password" id="passwordRepaet" name="confirmPassword" ng-model="user.passwordRepeat" compare-to="user.password" class="form-control" placeholder="Mot de passe" required/>

    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
		Non-valide:
		<span ng-show="form.confirmPassword.$error">Le mot de passe doit être identique à celui entré précédemment.</span>
	</div>
    
    <label for="adresse">Adresse: </label>
    <input type="text" id="adresse" ng-model="user.adress" class="form-control" placeholder="Adresse" required/>
    
    <label for="telephone">Téléphone: </label>
    <input type="text" id="telephone" ng-model="user.phone" class="form-control" placeholder="Téléphone">	 
    
    <label for="dateNaissance">Date de naissance: </label>
    <input type="date" id="dateNaissance" ng-model="user.birthdate" class="form-control" placeholder="Date de naissance">
 	<br>
  	<button type="submit" ng-click="create(user)" class="btn btn-primary">Valider</button>
  	<br>
  	<br>
</form>