<meta charset="UTF-8">
<div>
	<div class="row col-md-10">
		<h1 class="text-center"><span ng-bind="product.productName"></span></h1>
		<hr width="75%" color="black">
			<div class="row">
				<div class="col-md-2 col-md-offset-3">
					<img class="img-responsive center-block" src="{{product.pathPicture}}" alt="Second Slide">
				</div>
				<div class="col-md-3">
					<h2>Description du produit</h2>
					<p>
						<span ng-bind="product.description"></span>
					</p>
				</div>
			</div>
		<hr width="75%" color="black">
		<div class="row">
			<div class="col-md-3 col-md-offset-5">
				<h1>Détails du produit</h1>
				<p><strong>Nom du produit</strong>: <span ng-bind="product.productName"></span></p>
				<p><strong>Type de bière</strong>: <span ng-bind="product.type"></span></p>
				<p><strong>Taux d'alcool</strong>: <span ng-bind="product.alcoholPercentage"></span>%</p>
				<p><strong>Volume</strong>: <span ng-bind="product.clVolume"></span>cl</p>
				<p><strong>Poids net en g</strong>: <span ng-bind="product.gWeight"></span></p>
			</div>
		</div>
	</div>
	<form class="form-group" action="#!/catalogue">
		<button type="submit" ng-click="remove()" class="btn btn-primary">Supprimer</button>
	</form>
</div>