<nav class="menu navbar navbar-dark container-fluid">
	<div class="navbar-header menu col-md-2">
		<a id="textMenu" href="#">Accueil</a>
	</div>
	<div class="col-md-8">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="name"> <span
				class="input-group-btn"><a href="#!/search/{{name}}"
				class="btn btn-default glyphicon glyphicon-search"></a></span>
		</div>
	</div>
	<div class="col-md-1">
		<ul class="nav nav-pills nav-stacked">
			<li class="dropdown">
			<li><a class="dropdown-toggle" type ="button" data-toggle="dropdown" href="#"
				id="dropDownMenu">Mon compte <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li class="active"><a href="#">Mes commandes</a></li>
					<li><a href="#">Mes commandes</a></li>
					<li><a href="#">Deconnexion</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-1">
		<a id="textMenu" class="glyphicon glyphicon-shopping-cart btn-lg" href="#!/panier"></a>
	</div>
</nav>


